body {
    height: unset;

    display: block;
    justify-content: unset;
    align-items: unset;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f8f8f8;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
}