* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10%;

    font-family: monospace;

    background-color: #FAFAFA;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    cursor: pointer;
}

input, button {
    font-family: monospace;
    background-color: #FAFAFA;

    border: 1px solid #111;
    border-radius: 4px;
}

input {
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    text-align: center;

    width: 250px;
    margin: 8px;
}

form > * {
    width: 100%;
}

form button {
    width: fit-content;

    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}