* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;

    font-family: monospace;

    background-color: #FAFAFA;
}

main {
    padding: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

input, button {
    font-family: monospace;
    background-color: #FAFAFA;

    border: 1px solid #111;
    border-radius: 4px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: #FAFAFA;
    border-radius: 3px;
}

button:hover {
    background-color: #2980b9;
}

button {
    cursor: pointer;
}

input {
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    text-align: center;

    width: 250px;
    margin: 8px;
}

form > * {
    width: 100%;
}

form button {
    width: fit-content;

    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}


.main-nav {
    border: 2px solid #111;
    border-radius: 4px;
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-nav button {
    border: 1px solid #111;
    background-color: unset;
    color: #111;
}

#links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#links li a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

#links li a:hover {
    text-decoration: underline;
}